<div class="d-flex flex-column flex-wrap food-menu" *ngIf="foodMenu$ | async as menu">
    <ng-container *ngFor="let group of menu">
        <ng-container *ngFor="let item of group.items; let i = index">
            <div>
                <div *ngIf="i === 0" class="m-2 font-weight-bold">{{group.group}}</div>
                <div class="m-2 d-flex justify-content-between">
                    <span>{{item.name}}</span>
                    <span>{{item.price | currency}}</span>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>
