<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <span class="navbar-brand mb-0 h1">{{title}}</span>

        <ul class="navbar-nav mr-auto">
            <li *ngFor="let item of menu" class="nav-item">
                <a class="nav-link" [routerLink]="item.link" routerLinkActive="active">{{item.name}}</a>
            </li>
        </ul>
    </div>
</nav>
